<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Blissenet Buy&Sell</title>
</head>
<style>
 
    .open{
    display: block;
    }

    .closed{
    display: none;
   
    }

</style>
<body style="background-color: #e9ecef;">

     
  <main>
    <%- include('../partials/navi-simple.ejs') %>
    

    <div class="container-fluid d-flex justify-content-between py-2" style="background-color: #9200ff">
      <div class="ms-2 p-0" style="font-weight: 400; color: #ffde00;"> <b> Compras/Ventas </b>  </div>
      
      <div class="btn-group btn-group-sm mx-2" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-dark" id="btnInbox">Buyes</button>
        <button type="button" class="btn btn-dark" id="btnOutbox">Selles</button>
      </div>
    </div>

   
    <div class="contentInbox">
        <div class="row border border-light m-0 d-flex justify-content-center" style="width: 100%; overflow-y: auto;">
            <div class="col-lg-10  my-4 p-0">
                      <div class="ContainerMessage rounded-1 p-2 border" style="background-color: #dbdfe4;">
                         
                      </div>
            </div> 
  
      </div>
    </div>
    <div class="contentOutbox closed">
        <div class="row border border-light m-0 d-flex justify-content-center" style="width: 100%; overflow-y: auto;">
            <div class="col-lg-10  my-4 p-0">
                <div class="ContainerMessage rounded-1 p-2 border" style="background-color: #dbdfe4;">
                 
                </div>
                
            </div>
        </div>
    </div>


  </main>
  <%- include('../partials/scripts.ejs') %>
  <%- include('../partials/scriptsOnlyNavi-simpleNoIcons.ejs') %>

  <script>
    let btnInbox = document.getElementById('btnInbox');
    let btnOutbox = document.getElementById('btnOutbox');
    let contentInbox = document.querySelector('.contentInbox');
    let contentOutbox = document.querySelector('.contentOutbox');
                                                  
    btnInbox.addEventListener('click', ()=>{
      contentOutbox.classList.add('closed')
      contentInbox.classList.remove('closed')
      
    })

    btnOutbox.addEventListener('click', ()=>{
      contentOutbox.classList.remove('closed')
      contentInbox.classList.add('closed')
    
    })

  </script>
</body>
</html>

