<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Blisnet - unknown</title>
</head>
<style>
 
 .textLight{
      /* trabaja en conjunto con themaTextLight */
      color: white;
  }

</style>
<body class="mainTheme">

     
  <main>
    <%- include('../partials/navi-simple.ejs') %>
    
   
    <div class="mainUnknow">
        <div class="contentUnknow themaTextLight">
          <div class="row m-0 d-flex justify-content-center" style="width: 100%; overflow-y: auto;">
              <div class="col-lg-10  my-4 p-0">

                <h4 class="my-2">¿Que ha pasado?</h4>
                <h5 class="my-3">Esta subasta ha sido finalizada o eliminada por el mismo usuario.</h5>
                <hr>
                <p class="mb-4"><span class="border border-dark rounded-pill p-2">Preguntas Comunes</span></p> 
              

                <div class="contentQuestionAnswer my-3">
                  <span class="my-0 pb-0 fw-bold p-1 rounded-3"><i class="bi bi-question-circle-fill me-2"></i>¿He participado, Como se que gane o perdí esta subasta ?</span>
                  <p class="my-0 p-1"><i class="bi bi-r-circle-fill me-2"></i>Si has ganado tendrás un alerta activo color verde, esperando entres y te reunas con tu vendedor.
                  De lo contario, no tendrás ese alerta verde en el menú superior. ¡Suerte en la proxima!. </p>
                </div>
                
                <div class="contentQuestionAnswer my-3">
                  <span class="my-0 pb-0 fw-bold p-1 rounded-3"><i class="bi bi-question-circle-fill me-2"></i>¿Me informaron de esta subasta, puedo acceder?</span>
                  <p class="my-0 p-1"><i class="bi bi-r-circle-fill me-2"></i>Ya no podrás acceder a esta sala de subasta. Ha sido eliminada por el usuario o la subasta ha sido finalizada.</p>
                </div>

                <div class="contentQuestionAnswer my-3">
                  <span class="my-0 pb-0 fw-bold p-1 rounded-3"><i class="bi bi-question-circle-fill me-2"></i>¿Que motivos tiene una persona para eliminar una subasta?</span>
                  <p class="my-0 p-1"><i class="bi bi-r-circle-fill me-2"></i>El motivo mas común es que no haya podido tener participantes en la sala y haya culminado
                   sin ofertas, el anunciante desiste y la elimina para luego venderla como un articulo común. 
                  </p>
                </div>

                <div class="contentQuestionAnswer my-3">
                  <span class="my-0 pb-0 fw-bold p-1 rounded-3"><i class="bi bi-question-circle-fill me-2"></i>¿Politania puede eliminar una subasta?</span>
                  <p class="my-0 p-1"><i class="bi bi-r-circle-fill me-2"></i>Politania elimina la subasta cuando esta ha sido finalizada con exito. Colocando ambas partes en negociacion directa,
                    el sistema lo ejecuta de esta manera para asegurar un buen rendimiento y asi evitar la saturación de información en el servidor.  
                  </p>
                </div>
               
              </div>  
          </div>
        </div>

      
    </div>

  

  </main>
  <%- include('../partials/scripts.ejs') %>
  <%- include('../partials/scriptsOnlyNavi-simpleNoIcons.ejs') %>



</body>
</html>

