<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Blissenet - unknown</title>
</head>
<style>

.textLight{
        /* trabaja en conjunto con themaTextLight */
        color: white;
}

</style>
<body class="mainTheme"></body>

     
  <main>
    <%- include('../partials/navi-simple.ejs') %>
    
   
    <div class="mainUnknow">
        <div class="contentUnknow themaTextLight">
          <div class="row m-0 d-flex justify-content-center" style="width: 100%; overflow-y: auto;">
              <div class="col-lg-10  my-4 p-3">

                <h4 class="my-2">¿Que ha pasado?</h4>
                <h5 class="my-3">¡Este articulo ya no existe!</h5>
                <hr>
                              

                <div class="contentQuestionAnswer my-3">
                  <span class="my-0 pb-0 p-1 rounded-3"><i class="bi bi-question-circle-fill me-2"></i>¿Porque no existe este articulo, si antes estaba?</span>
                  <p class="my-0 p-1"><i class="bi bi-r-circle-fill me-2"></i>Los articulos independiente del departamento pueden ser eliminados por sus creadores en cualquier momento.</p>
                </div>
                
                <div class="contentQuestionAnswer my-3">
                  <span class="my-0 pb-0 p-1 rounded-3"><i class="bi bi-question-circle-fill me-2"></i>¿Blissenet puede eliminar un articulo?</span>
                  <p class="my-0 p-1"><i class="bi bi-r-circle-fill me-2"></i>Solo si incumple con nuestras politicas.</p>
                </div>

                <div class="contentQuestionAnswer my-3">
                    <span class="my-0 pb-0 p-1 rounded-3"><i class="bi bi-question-circle-fill me-2"></i>¿He comprado este articulo, que puedo hacer?</span>
                    <p class="my-0 p-1"><i class="bi bi-r-circle-fill me-2"></i>Si has comprado este articulo y no lo has recibido, tienes la sala de negociacion activa para finiquitar la entrega. El anunciantes pudo eliminar al no tener mas existencia. </p>
                </div>

                <div class="contentQuestionAnswer my-3">
                    <span class="my-0 pb-0 p-1 rounded-3"><i class="bi bi-question-circle-fill me-2"></i>¿No me responde el vendedor, creo he sido estafado?</span>
                    <p class="my-0 p-1"><i class="bi bi-r-circle-fill me-2"></i>No deberias nunca transferir dinero sin recibir el articulo, a menos que ya tengas confianza con el vendedor y este tenga un buen Record. Puedes comunicarte con nuestra administración
                      y detallar lo ocurrido, mientras tengas el "username" del usuario o tienda.
                    </p>
                </div>

               
              </div>  
          </div>
        </div>

      
    </div>

  

  </main>
  <%- include('../partials/scripts.ejs') %>
  <%- include('../partials/scriptsOnlyNavi-simpleNoIcons.ejs') %>



</body>
</html>

