<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Blissenet - unknown</title>
</head>
<style>
 
 .textLight{
      /* trabaja en conjunto con themaTextLight */
      color: white;
  }

</style>
<body class="mainTheme">

     
  <main>
    <%- include('../partials/navi-simple.ejs') %>
    
   
    <div class="mainUnknow pb-4">
        <div class="contentUnknow themaTextLight">
          <div class="row m-0 d-flex justify-content-center" style="width: 100%; overflow-y: auto;">
              <div class="col-lg-10 col-md-10 col-sm-11 col-12 my-4 px-3">

                <img src="/img/subastaFinalizada.png" alt="" style="width :300px" >

                <h5 class="my-2">¿Que ha pasado?</h5>
                <h6 class="my-3">Esta subasta ha sido finalizada o eliminada por el Anfitrión.</h6>
                <hr>              

                <div class="contentQuestionAnswer my-3">
                  <span class="my-0 pb-0 fw-bold p-1 rounded-3"><i class="bi bi-question-circle-fill me-2"></i>He participado ¿Como se que gané o perdí esta subasta ?</span>
                  <p class="my-0 p-1"><i class="bi bi-r-circle-fill me-2"></i>Si has ganado tendrás un alerta <i class="bi bi-briefcase"></i>     <span class="bg-success text-light rounded-pill" style="width: 22px; height: 22px; display: inline-flex; align-items: center; justify-content: center;"> <i> <small> 1 </small> </i> </span>
                 activo color verde, esperando entres y te reunas con tu vendedor. De lo contario, no tendrás la alerta verde en el menú superior. ¡Suerte en la proxima!. </p>
                </div>
                
                <div class="contentQuestionAnswer mt-3">
                  <span class="my-0 pb-0 fw-bold p-1 rounded-3"><i class="bi bi-question-circle-fill me-2"></i>Me informaron de esta subasta ¿Puedo acceder?</span>
                  <p class="my-0 p-1"><i class="bi bi-r-circle-fill me-2"></i>Ya no podrás acceder a esta sala de subasta. Ha sido eliminada por el usuario o la subasta ha sido finalizada.</p>
                </div>
               
              </div>
              <div class="container my-3 d-flex justify-content-center">
                 <a href="/" class="text-decoration-none" style="color: inherit"><span id="logoBlissenet_com"> </span></a> 
              </div>  
          </div>
        </div>

      
    </div>
    

  

  </main>
  <%- include('../partials/scripts.ejs') %>
  <%- include('../partials/scriptsOnlyNavi-simpleNoIcons.ejs') %>



</body>
</html>

