<div class="contentMain p-2 d-flex justify-content-center" style="height: auto;">

    <div class="contentNoLogin my-3 p-4 d-flex align-items-center flex-column">
       
        <h4><strong>Administration</strong></h4>
        <h5>¿ Porque no puedo acceder a esta pagina ?</h5>
        <h6>El problema es que no estas logeado, ve a login e inicia sesion.</h6>
        <a href="/admin/signin" class="btn btn-primary my-3">signin</a>

    </div>

</div>