<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Erro404</title>
</head>
<body>

    <div class="contentMain m-2 p-4 d-flex justify-content-center align-items-center">

        <div class="contentError404 my-4 p-4 d-flex justify-content-center align-items-center flex-column">
            <img class="mb-2" src="/img/robot404.png" alt="" style="width: 200px;">
            
            <h4>¡Pagina no existe!</h4>
            <h1 class="text-dark fw-bold"> - 404 -</h1>
            <a href="/" class="btn btn-primary my-1"> <span class="px-3"> Vamos al Inicio </span></a>
            <h6 class="mt-5">Blissenet.com</h6>
        </div>
    
    </div>
    
</body>
</html>



