<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Erro404</title>
</head>
<body>

    <div class="contentMain m-2 p-4 d-flex justify-content-center align-items-center">

        <div class="contentError404 my-4 p-4 d-flex justify-content-center align-items-center flex-column">
            <h3>Blisnet.com</h3>
            <h5>ยก La pagina que estas buscando no existe !</h5>
            <h6>Error 404</h6>
            <a href="/" class="btn btn-primary my-1">Volver al Inicio</a>
        </div>
    
    </div>
    
</body>
</html>



