<div class="footer row  d-flex justify-content-between py-5 px-2 m-0  themaTextLight footerTheme shadow">

    <div class="col-md-12 col-lg-4 d-flex justify-content-center my-2">

        <div class="f-Left d-flex flex-column themaTextLight">
            <span class="itemOption" style="font-size: 16px;"><a href="/terms" class="linkOptions">• Términos y Condiciones</a> </span>
            <span class="itemOption" style="font-size: 16px;"><a href="/manual" class="linkOptions">• Manual</a></span>
            <span class="itemOption" style="font-size: 16px;"><a href="" class="linkOptions">• Marketing (Contactar)</a></span> 
            <span class="itemOption" style="font-size: 16px;"><a href="" class="linkOptions">• Ayuda (resolución de problemas)</a></span>  
        </div>
        
    </div>
    <div class="col-md-12 col-lg-4 d-flex align-items-center justify-content-center px-2 my-2">

        <div class="f-Center p-2 d-flex flex-column justify-content-center align-items-center">

            <div class="redes my-1">
                    <span class="itemOption"><a href="" class="linkOptions"><i class="bi bi-instagram  me-3"></i></a></span>
                    <span class="itemOption"><a href="" class="linkOptions"><i class="bi bi-facebook me-3"></i></a></span>
                    <span class="itemOption"><a href="" class="linkOptions"><i class="bi bi-twitter-x  me-3"></i></a></span>
            </div>        
            <div class="mainMail px-2 py-1 rounded-2 my-1 shadow" style=" z-index: 100;">
                <i class="bi bi-envelope-paper me-1"></i> <span class="spnEmail">adminve@blissenet.com</span>
            </div>
            <div class="msgSaveMail close">
                <div class="py-1 px-2 " style="background-color: rgba(238, 130, 238, 0.7);"> 
                    <span>Guardado en portapales</span>  
                </div>
            </div>
                            
        </div>

    </div>
    <div class="col-md-12 col-lg-4 d-flex justify-content-center my-2">

        <div class="f-right d-flex flex-column px-2 justify-content-start align-items-start">
            <div class="markBlisnet">
                <span id="logoBlissenet_com"></span> </span>
            </div>
            <div class="detailFound d-flex justify-content-start align-items-center" style="width: 100%;">
                <div class="contenNameyears d-flex flex-column">
                    <span style="font-size: 17px; letter-spacing: 3px;  ">Venezuela [VE]</span>
                    <span style="font-size: 15px;letter-spacing: 2px;">Versión  <span class="px-2 rounded-2 alert-secondary">proto</span> </span>
                    <span style="font-size: 18px;">2024 - 2024</span>
                    
                </div>
                
            </div>
        </div>
        
    </div>

</div>