<div class="footer row  d-flex justify-content-between py-5 px-2 m-0  themaTextLight footerTheme shadow">

    <div class="col-md-12 col-lg-4 d-flex justify-content-center my-2">

        <div class="f-Left d-flex flex-column themaTextLight">
            <span class="itemOption" style="font-size: 16px;"><a href="/terms" class="linkOptions">• Términos y Condiciones</a> </span>
            <span class="itemOption" style="font-size: 16px;"><a href="/manual" class="linkOptions">• Manual</a></span>
            <span class="itemOption" style="font-size: 16px;"><a href="/servicePrice" class="linkOptions">• Servicios y Precios</a></span> 
            <span class="itemOption" style="font-size: 16px;"><a href="/policy" class="linkOptions">• Politicas de Uso</a></span>
            <span class="itemOption" style="font-size: 16px;"><span id="help" data-bs-toggle="modal" data-bs-target="#blissenetAyuda">• Blissenet Ayuda</span></span>  
        </div>

            <!-- Modal de help data-bs-toggle="modal" data-bs-target="#blissenetAyuda"-->
            <div class="modal fade" id="blissenetAyuda" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="blissenetAyudaLabel" aria-hidden="true">
                <div class="modal-dialog border border-secondary p-2 rounded-3" style="background-color: rgb(0, 0, 0, 0.3);">
                    <div class="modal-content" style="color: black;">
                        <div class="modal-header">
                            <h5 class="modal-title" id="blissenetAyudaLabel">✨ ¡Blissenet Ayuda! ✨</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            
                            <p>Estamos aquí para asegurarte que tu experiencia en nuestro marketplace es nuestra prioridad. Nuestro equipo se toma muy en serio la capacitación y adopción del sistema. Para apoyarte en tus inicios, te invitamos a unirte a nuestras comunidades en Telegram y WhatsApp, donde encontrarás personas dispuestas a ayudarte. ¡Confía en nosotros!. </p>
                            <div class="cententImgs d-flex justify-content-around mt-2">
                                <a href="https://chat.whatsapp.com/BXw8ry5L0Ei1kY6TdfI70r"><img src="/img/helpWhatsapp.png" alt="" style="width: 50px"></a>
                                <a href="https://t.me/+PHfh9L3pfVhjMGYx"><img src="/img/helpTelegram.png" alt="" style="width: 50px"></a>
                            </div>

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        
    </div>
    <div class="col-md-12 col-lg-4 d-flex align-items-center justify-content-center px-2 my-2">

        <div class="f-Center p-2 d-flex flex-column justify-content-center align-items-center">

            <div class="redes my-1">
                    <span class="itemOption"><a href="https://www.instagram.com/blissenetcom/" class="linkOptions"><i class="bi bi-instagram  me-3"></i></a></span>
                    <span class="itemOption"><a href="https://www.facebook.com/search/top?q=blissenetcom" class="linkOptions"><i class="bi bi-facebook me-3"></i></a></span>
                    <span class="itemOption"><a href="https://x.com/blissenetcom/" class="linkOptions"><i class="bi bi-twitter-x  me-3"></i></a></span>
            </div>        
            <div class="mainMail px-2 py-1 rounded-2 my-1 shadow" style=" z-index: 100;">
                <i class="bi bi-envelope-paper me-1"></i> <span class="spnEmail">adminve@blissenet.com</span>
            </div>
            <div class="msgSaveMail close">
                <div class="py-1 px-2 " style="background-color: rgba(238, 130, 238, 0.7);"> 
                    <span>Guardado en portapales</span>  
                </div>
            </div>
                            
        </div>

    </div>
    <div class="col-md-12 col-lg-4 d-flex justify-content-center my-2">

        <div class="f-right d-flex flex-column px-2 justify-content-start align-items-start">
            <div class="markBlisnet">
                <span id="logoBlissenet_com"></span> </span>
            </div>
            <div class="detailFound d-flex justify-content-start align-items-center" style="width: 100%;">
                <div class="contenNameyears d-flex flex-column">
                    <span style="font-size: 17px; letter-spacing: 3px;  ">Venezuela [VE]</span>
                    <span style="font-size: 15px;letter-spacing: 2px;">Versión  <span class="px-2 rounded-2 alert-secondary">proto</span> </span>
                    <span style="font-size: 18px;">2024 - 2024</span>
                    
                </div>
                
            </div>
        </div>
        
    </div>

</div>