<div class="footer row  d-flex justify-content-between py-5 px-2 m-0  themaTextLight footerTheme">

    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12  d-flex justify-content-center my-2">

        <div class="f-Left d-flex flex-column themaTextLight">
            <span class="itemOption" style="font-size: 16px;"><a href="/terms" class="linkOptions">• Términos y Condiciones</a> </span>
            <span class="itemOption" style="font-size: 16px;"><a href="/manual" class="linkOptions">• Manual</a></span>
            <span class="itemOption" style="font-size: 16px;"><a href="/servicePrice" class="linkOptions">• Servicios y Precios</a></span> 
            <span class="itemOption" style="font-size: 16px;"><a href="/policy" class="linkOptions">• Politica de Uso</a></span>
            <span class="itemOption" style="font-size: 16px;"><span id="help" data-bs-toggle="modal" data-bs-target="#blissenetAyuda"  class="linkOptions">• Blissenet Ayuda</span></span>  
        </div>

            <!-- Modal de help data-bs-toggle="modal" data-bs-target="#blissenetAyuda"-->
            <div class="modal fade" id="blissenetAyuda" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="blissenetAyudaLabel" aria-hidden="true">
                <div class="modal-dialog border border-secondary p-2 rounded-3" style="background-color: rgb(0, 0, 0, 0.3);">
                    <div class="modal-content" style="color: black;">
                        <div class="modal-header">
                            <h5 class="modal-title" id="blissenetAyudaLabel">✨ ¡Blissenet Ayuda! ✨</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            
                            <p>Estamos aquí para asegurarte que tu experiencia en nuestro marketplace es nuestra prioridad. Nuestro equipo se toma muy en serio la capacitación y adopción del sistema. Para apoyarte en tus inicios, te invitamos a unirte a nuestras comunidades en Telegram y WhatsApp, donde encontrarás personas dispuestas a ayudarte. ¡Confía en nosotros!. </p>
                            <div class="cententImgs d-flex justify-content-around mt-2">
                                <a href="https://chat.whatsapp.com/BXw8ry5L0Ei1kY6TdfI70r"><img src="/img/helpWhatsapp.png" alt="" style="width: 50px"></a>
                                <a href="https://t.me/+PHfh9L3pfVhjMGYx"><img src="/img/helpTelegram.png" alt="" style="width: 50px"></a>
                            </div>

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        
    </div>
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12 d-flex align-items-center justify-content-center px-2 my-2">

        <div class="f-Center p-2 d-flex flex-column justify-content-center align-items-center">

            <div class="redes my-1">
                    <span class="itemOption"><a href="https://www.instagram.com/blissenetcom/" class="linkOptions"><i class="bi bi-instagram  me-3"></i></a></span>
                    <span class="itemOption"><a href="https://www.facebook.com/search/top?q=blissenetcom" class="linkOptions"><i class="bi bi-facebook me-3"></i></a></span>
                    <span class="itemOption"><a href="https://x.com/blissenetcom/" class="linkOptions"><i class="bi bi-twitter-x  me-3"></i></a></span>
            </div>        
            <div class="mainMail px-2 py-1 rounded-2 my-1 shadow" style=" z-index: 100;">
                <i class="bi bi-envelope-paper me-1"></i> <span class="spnEmail">adminve@blissenet.com</span>
            </div>
            <div class="msgSaveMail close">
                <div class="py-1 px-2 " style="background-color: rgba(238, 130, 238, 0.7);"> 
                    <span>Guardado en portapales</span>  
                </div>
            </div>
                            
        </div>

    </div>
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12 d-flex justify-content-center my-2">

        <div class="f-right d-flex flex-column px-2 justify-content-start align-items-start">
            <div class="markBlisnet rounded-2 px-0 py-1" style="position: relative;">
                <button class="mx-1 shareToggle" style="user-select: none; background: none; border: none; padding: 0; margin: 0; color: inherit">  <span id="logoBlissenet_com"> </span> <i class="bi bi-share me-1"></i>  </button>   
            
                <div class="containerShare d-flex invisible border border-secondary p-3 rounded-3" style="background-color: white; position: absolute; top: 45px; left: -28px;" >
                    <a href="https://api.whatsapp.com/send?text=https://blissenet.com" target="_blank" class="mx-2"> <img src="/img/helpWhatsapp.png" alt="" style="width: 42px; height: 42px;">   </a> 
                    <a href="https://t.me/share/url?url=https://blissenet.com" target="_blank" class="mx-2"> <img src="/img/helpTelegram.png" alt="" style="width: 42px; height: 42px"> </a> 
                    <a href="https://www.facebook.com/sharer/sharer.php?u=https://blissenet.com" target="_blank" class="mx-2"> <img src="/img/helpFacebook.png" alt="" style="width: 42px; height: 42px">  </a>
                    <div class="containerBTN p-0 mx-2" style="position: relative; width: 43px !important">   
                      <button class="btn btn-sm btn-primary" style="border-radius: 8px; position: absolute; right: - 200px; height: 100%; width: 100%;" id="btnClicBoard"> <i class="bi bi-clipboard px-1" style="font-size: large;"></i>
                      <button class="btn btn-sm btn-dark invisible" style="border-radius: 8px; position: absolute; right: - 200px; height: 100%; width: 100%;" id="btnClicBoardCheck"> <i class="bi bi-clipboard-check px-1" style="font-size: large;"></i>  </button>
                    </div>
                    
              </div>
                             
            </div>
            

            <div class="detailFound d-flex justify-content-start align-items-center" style="width: 100%;">
                <div class="contenNameyears d-flex flex-column">
                    <span style="font-size: 17px; letter-spacing: 3px;">Venezuela [VE]</span>
                    <span style="font-size: 15px;letter-spacing: 2px;">Versión  <span class="px-2 rounded-2 alert-secondary">proto</span> </span>
                    <span style="font-size: 18px;">2024 - 2024</span>
                    
                </div>
                
            </div>
        </div>
        
    </div>

</div>


                                        
<!-- script para controlar todo el modulo de compartir -->
<script>
    const shareToggle = document.querySelector('.shareToggle');
    const containerShare = document.querySelector('.containerShare');
    const btnClicBoard = document.getElementById('btnClicBoard');
    const btnClicBoardCheck = document.getElementById('btnClicBoardCheck');
 
  
    shareToggle.addEventListener('click', ()=>{
      containerShare.classList.toggle('invisible')
      
      const shareActive = containerShare.classList.contains('invisible');
      //console.log("shareActive -->", shareActive);

    })
  
   
    //copiar link de tienda en el portapapeles
    btnClicBoard.addEventListener('click', ()=>{
      const storeToShare = "https://blissenet.com";
      navigator.clipboard.writeText(storeToShare)
        .then(function(){
         
          btnClicBoard.classList.add('invisible');
          btnClicBoardCheck.classList.remove('invisible');
          setTimeout(clipboardDone, 1000)
          
          function clipboardDone(){
            btnClicBoardCheck.classList.add('invisible');
            btnClicBoard.classList.remove('invisible');
          }
  
        })
        .catch(function(error){
          alert("error al copiar" + e);
        })
      
    })
  
  
  </script>