<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<!-- Esta es la CDN de la libreria sortablejs -->
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"> </script>

<script src="/js/index.js"></script>

<script>
    //::::::::: Limitador de vista a pantallas que sea igual o mayor a 320px :::::::::
    //este script limita al sistema a poder verse solo en dispositivos que superen 320px de ancho.
    const mainElement = document.querySelector('main');
    const bodyElement = document.querySelector('body'); 
    const openPageWidth = screen.width;
    const openPageHeight = screen.height;

    if (openPageWidth < 320){
        mainElement.style.display = "none";
        bodyElement.innerHTML = `<p class="mt-2" style="position: absolute; bottom: 30px; right: 20px"> <code>Resolución: (${openPageWidth})x(${openPageHeight})</code> </p>
                                 <p class="mt-4 px-2 text-secondary"> Su dispositivo no cuenta con el ancho suficiente para ver esta pagina. <b>El ancho debe ser mínimo 320px.</b> </p>
                                 <p class="px-2><code>Blisnet.com</code></p>
                                `
    } else {
        mainElement.style.display = "block";
        
    }

    window.addEventListener('resize', ()=>{
        let anchoPantalla = screen.width;
        let altoPantalla = screen.height;

        //console.log("anchoPantalla :", anchoPantalla)
        if(anchoPantalla < 320){
            //console.log(mainElement)
            mainElement.style.display = "none";
      
            bodyElement.innerHTML = `<p class="mt-2" style="position: absolute; bottom: 30px; right: 20px"> <code>Resolución: (${anchoPantalla})x(${altoPantalla})</code> </p>
                                     <p class="mt-4 px-2 text-secondary"> Su dispositivo no cuenta con el ancho suficiente para ver esta pagina. <b>El ancho debe ser mínimo 320px.</b> </p>
                                     <p class="px-2"><code>Blisnet.com</code></p>
                                     `
        } else{
            
            mainElement.style.display = "block";
        }
        
    })
    
</script>


<script>
    //carga de sonido efecto en iconos
  
    document.addEventListener("DOMContentLoaded", () => {
    const iconEfect = document.querySelectorAll('.iconEfect');
    const efectSoundIcon = document.getElementById('efectIcon');
    
      iconEfect.forEach((ele) => {
          ele.addEventListener('click', () => {
              console.log("Hiciste clic en el icono");
              efectSoundIcon.currentTime = 0; // Reiniciamos el sonido
              efectSoundIcon.play().catch(error => {
                  console.error("Error al reproducir el sonido:", error);
              });
          });
      });
      
  });
</script>

<script>
//detector cuando no hay coneccion a internet
window.addEventListener('offline', ()=>{
    console.log("Se ha ido el internet, Mostrar una pagina secilla pero agradable")
})

window.addEventListener('online', ()=>{
    console.log("ha vuelto el internet, Hacer un location.reload()")
    location.reload()
})

</script>


