<script>
 
  let estadoColorHead;
  const controlHead = document.querySelector('.controlHead');
  const navHead = document.getElementById('navHead');
  const afterNavHead = document.getElementById('afterNavHead');
  const logoBlissenet = document.getElementById('logoBlissenet'); 
  const logoBlissenetCom = document.getElementById('logoBlissenet_com');
  const sectionTheme = document.querySelector('.sectionTheme');
  const footerTheme = document.querySelector('.footerTheme');
  const themaTextLight = document.querySelectorAll('.themaTextLight'); //esta clase para que funcione debe tener en el style del html la clase .textLight
  const linkOptions = document.querySelectorAll('.linkOptions');

  hColor()
  
  function hColor(){
    
    let estadoColorsHead = localStorage.getItem("estadoHead");
    console.log("estadoColorsHead ----------->", estadoColorsHead);


    console.log("valor de estadoColorsHead", estadoColorsHead);
    if (estadoColorsHead === 'light' || estadoColorsHead === null ){
        localStorage.setItem("estadoHead", "light"); //pode fecto se configura como light desde el principio
        navHead.style.backgroundColor = "#f9f9f9"; //color muy claro en el navegador
        navHead.classList.add('navbar-light');
        afterNavHead.style.background = "#f9f9f9";
        afterNavHead.classList.add('navbar-light');
        logoBlissenet.innerHTML = `<img src="/img/logoBlissenetJonathan.png" style="width: 40px;"> <span> Blissenet  <span class="countryNav ms-1" style="font-size: 12px">  </span> </span> `;
        logoBlissenetCom.innerHTML = `<img src="/img/logoBlissenetJonathan.png" style="width: 40px;"> <strong style="font-size: 20px"> Blissenet.com <strong>`;
        controlHead.innerHTML = '<img src="/img/iconoMoon.png" class="me-1"  style="width: 20px;">'
        if (sectionTheme){
          sectionTheme.classList.remove('bg-dark', 'text-light');
          sectionTheme.classList.add('bg-light', 'text-dark');
        }
        if (footerTheme){
          footerTheme.classList.remove('bg-dark', 'text-light');
          footerTheme.classList.add('bg-light', 'text-dark');
        }
        if (themaTextLight){
            themaTextLight.forEach((ele)=>{
              ele.classList.remove("textLight")
            })
        }
        if (linkOptions){
            linkOptions.forEach((ele)=>{
              ele.style.color = "black";
            })
        }
      
  
    } else {
        navHead.style.backgroundColor = "rgb(27, 27, 27)";
        navHead.classList.add('navbar-dark');
        afterNavHead.style.backgroundColor = "rgb(27, 27, 27)";
        afterNavHead.classList.add('navbar-dark');
        logoBlissenet.innerHTML = `<img src="/img/logoBlissenetJonathan.png" style="width: 40px;"> <span> Blissenet  <span class="countryNav ms-1" style="font-size: 12px">  </span> </span> `;
        logoBlissenetCom.innerHTML = `<img src="/img/logoBlissenetJonathan.png" style="width: 40px;"> <strong style="font-size: 20px"> Blissenet.com <strong>`;
        controlHead.innerHTML = '<img src="/img/iconoSun.png" class="me-1"  style="width: 20px;">'
        if (sectionTheme){
          sectionTheme.classList.add('bg-dark', 'text-light');
          sectionTheme.classList.remove('bg-light', 'text-dark');
        }
        if (footerTheme){
          footerTheme.classList.add('bg-dark', 'text-light');
          footerTheme.classList.remove('bg-light', 'text-dark');
        }
        if (themaTextLight){
            themaTextLight.forEach((ele)=>{
              ele.classList.add("textLight")
            })
        }
        if (linkOptions){
            linkOptions.forEach((ele)=>{
              ele.style.color = "white";
            })
        }
        
    }

  }


controlHead.addEventListener('click', ()=>{

  
  let estadoColorsHead = localStorage.getItem("estadoHead");
  console.log("estadoColorsHead ------------->", estadoColorsHead);

  if (estadoColorsHead === "light"){
      localStorage.setItem("estadoHead", "dark" );
      console.log("el estado es light y debo cambiarlo a dark ");
      navHead.style.backgroundColor = "rgb(27, 27, 27)";
      navHead.classList.add('navbar-dark');
      navHead.classList.remove('navbar-light');
      afterNavHead.style.backgroundColor = "rgb(27, 27, 27)";
      afterNavHead.classList.replace('navbar-light', 'navbar-dark');
      logoBlissenet.innerHTML = `<img src="/img/logoBlissenetJonathan.png" style="width: 40px;"> <span> Blissenet  <span class="countryNav ms-1" style="font-size: 12px">  </span> </span> `;
      logoBlissenetCom.innerHTML = `<img src="/img/logoBlissenetJonathan.png" style="width: 40px;"> <strong style="font-size: 20px"> Blissenet.com <strong>`;
      controlHead.innerHTML = '<img src="/img/iconoSun.png" class="me-1"  style="width: 20px;">'
      if (sectionTheme){
          sectionTheme.classList.add('bg-dark', 'text-light');
          sectionTheme.classList.remove('bg-light', 'text-dark');
      }
      if (footerTheme){
          footerTheme.classList.add('bg-dark', 'text-light');
          footerTheme.classList.remove('bg-light', 'text-dark');
      }
      if (themaTextLight){
            themaTextLight.forEach((ele)=>{
              ele.classList.add("textLight")
            })
      }
      if (linkOptions){
            linkOptions.forEach((ele)=>{
              ele.style.color = "white";
            })
      }  
    
  } else {
      console.log("el estado es dark y debo cambiarlo a light ");
      localStorage.setItem("estadoHead", "light" )
      navHead.style.backgroundColor = "#f9f9f9";
      navHead.classList.add('navbar-light');
      navHead.classList.remove('navbar-dark');
      afterNavHead.style.backgroundColor = "#f9f9f9";
      afterNavHead.classList.replace('navbar-dark','navbar-light');
      logoBlissenet.innerHTML = `<img src="/img/logoBlissenetJonathan.png" style="width: 40px;"> <span> Blissenet  <span class="countryNav ms-1" style="font-size: 12px">  </span> </span>`;
      logoBlissenetCom.innerHTML = `<img src="/img/logoBlissenetJonathan.png" style="width: 40px;"> <strong style="font-size: 20px"> Blissenet.com <strong>`;
      controlHead.innerHTML = '<img src="/img/iconoMoon.png" class="me-1"  style="width: 20px;">'
      if (sectionTheme){
          sectionTheme.classList.remove('bg-dark', 'text-light');
          sectionTheme.classList.add('bg-light', 'text-dark');
      }
      if (footerTheme){
          footerTheme.classList.remove('bg-dark', 'text-light');
          footerTheme.classList.add('bg-light', 'text-dark');
      }
      if (themaTextLight){
            themaTextLight.forEach((ele)=>{
              ele.classList.remove("textLight")
            })
      }
      if (linkOptions){
            linkOptions.forEach((ele)=>{
              ele.style.color = "black";
            })
      }  

  }
  


});


//siendo este el id del modal "staticGetCountry"
//var modalGetCountry = new bootstrap.Modal(document.getElementById('staticGetCountry'));
//modalGetCountry.show();

//lert("hola estoy activo en home");



</script>