  <script>
    let estadoColorHead;
    const mainTheme = document.querySelector('.mainTheme'); 
    const controlHead = document.querySelector('.controlHead');
    const navHead = document.getElementById('navHead');
    const logoBlissenet = document.getElementById('logoBlissenet');
    const logoBlissenetCom = document.getElementById('logoBlissenet_com');

    const OptionsBar = document.querySelector('.OptionsBar');
    const SectionPublish = document.querySelector('.SectionPublish');
    const cardResultSearch = document.querySelector('.cardResultSearch');
    const themaTextLight = document.querySelectorAll('.themaTextLight'); //esta clase para que funcione debe tener en el style del html la clase .textLight
    const linkOptions = document.querySelectorAll('.linkOptions'); 
    

    hColor()

    function hColor(){
        estadoColorsHead = localStorage.getItem("estadoHead");

        console.log("valor de estadoHead", estadoColorsHead)
       
        if (estadoColorsHead === 'light' || estadoColorsHead === null ){
            mainTheme.classList.remove('bg-dark');
            navHead.style.backgroundColor = "#f9f9f9";
            navHead.classList.add('navbar-light');
            logoBlissenet.innerHTML = `<img src="/img/logoBlissenetJonathan.png" style="width: 40px;"> <span> Blissenet  <span class="ms-1" style="font-size: 12px"> VE </span> </span>`
            logoBlissenetCom.innerHTML = `<img src="/img/logoBlissenetJonathan.png" style="width: 40px;"> <strong style="font-size: 20px"> Blissenet.com <strong>`;
 
            controlHead.innerHTML = '<img src="/img/iconoMoon.png" class="me-1"  style="width: 20px;">'
            OptionsBar.classList.remove('bg-dark');
            SectionPublish.classList.remove('bg-dark');
            cardResultSearch.classList.remove('bg-dark');
            if (themaTextLight){
              themaTextLight.forEach((ele)=>{
                ele.classList.remove("textLight")
              })
            }
            if (linkOptions){
              linkOptions.forEach((ele)=>{
                ele.style.color = "black";
              })
            }
        
        } else {
            mainTheme.classList.add('bg-dark');
            navHead.style.backgroundColor = "rgb(27, 27, 27)";
            navHead.classList.add('navbar-dark');
            logoBlissenet.innerHTML = `<img src="/img/logoBlissenetJonathan.png" style="width: 40px;"> <span> Blissenet  <span class="ms-1" style="font-size: 12px"> VE </span> </span>`
            logoBlissenetCom.innerHTML = `<img src="/img/logoBlissenetJonathan.png" style="width: 40px;"> <strong style="font-size: 20px"> Blissenet.com <strong>`;
           
            controlHead.innerHTML = '<img src="/img/iconoSun.png" class="me-1"  style="width: 20px;">'
            OptionsBar.classList.add('bg-dark');
            SectionPublish.classList.add('bg-dark');
            cardResultSearch.classList.add('bg-dark', 'text-light');
            if (themaTextLight){
              themaTextLight.forEach((ele)=>{
                ele.classList.add("textLight")
              })
            }
            if (linkOptions){
            linkOptions.forEach((ele)=>{
              ele.style.color = "white";
            })
          }
        }

    }


    controlHead.addEventListener('click', ()=>{

    estadoColorHead = localStorage.getItem("estadoHead");

    if (estadoColorHead === "light"){
        console.log("el estado es light y debo cambiarlo a dark ");
        mainTheme.classList.add('bg-dark');
        navHead.style.backgroundColor = "rgb(27, 27, 27)";
        navHead.classList.add('navbar-dark');
        navHead.classList.remove('navbar-light');
        logoBlissenet.innerHTML = `<img src="/img/logoBlissenetJonathan.png" style="width: 40px;"> <span> Blissenet  <span class="ms-1" style="font-size: 12px"> VE </span> </span>`
        logoBlissenetCom.innerHTML = `<img src="/img/logoBlissenetJonathan.png" style="width: 40px;"> <strong style="font-size: 20px"> Blissenet.com <strong>`;
      
        controlHead.innerHTML = '<img src="/img/iconoSun.png" class="me-1"  style="width: 20px;">'
        OptionsBar.classList.add('bg-dark');
        SectionPublish.classList.add('bg-dark');
        cardResultSearch.classList.add('bg-dark', 'text-light');
        localStorage.setItem("estadoHead", "dark" );
        estadoTheme = localStorage.getItem('theme');
        if (themaTextLight){
            themaTextLight.forEach((ele)=>{
              ele.classList.add("textLight")
            })
        }
        if (linkOptions){
            linkOptions.forEach((ele)=>{
              ele.style.color = "white";
            })
        }

        
    } else {
        console.log("el estado es dark y debo cambiarlo a light ");
        mainTheme.classList.remove('bg-dark');
        navHead.style.backgroundColor = "#f9f9f9";
        navHead.classList.add('navbar-light');
        navHead.classList.remove('navbar-dark');
        logoBlissenet.innerHTML = `<img src="/img/logoBlissenetJonathan.png" style="width: 40px;"> <span> Blissenet  <span class="ms-1" style="font-size: 12px"> VE </span> </span>`
        logoBlissenetCom.innerHTML = `<img src="/img/logoBlissenetJonathan.png" style="width: 40px;"> <strong style="font-size: 20px"> Blissenet.com <strong>`;
       
        controlHead.innerHTML = '<img src="/img/iconoMoon.png" class="me-1"  style="width: 20px;">'
        OptionsBar.classList.remove('bg-dark');
        SectionPublish.classList.remove('bg-dark');
        cardResultSearch.classList.remove('bg-dark', 'text-light');
        localStorage.setItem("estadoHead", "light" )
        estadoTheme = localStorage.getItem('theme');
        if (themaTextLight){
            themaTextLight.forEach((ele)=>{
              ele.classList.remove("textLight")
            })
        }
        if (linkOptions){
            linkOptions.forEach((ele)=>{
              ele.style.color = "black";
            })
        }
     
    }

     console.log("el estado es", estadoColorHead);

    });


   </script>


