<div class="container-fluid auctionsMessages my-2 d-flex justify-content-center">
    <div class="alert alert-danger alert-dismissible fade show auctionsMessagesSon" role="alert">
        <strong class="ms-1"> <i class="bi bi-exclamation-triangle me-2"></i> <%= bidErrorSistem %></strong> 
        <button type="button" class="btn-close invisible" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>


<script>
   
    const btnClose = document.querySelector('.btn-close');

    window.addEventListener('load', ()=>{

        setTimeout(()=>{
            btnClose.click();
        }, 3000);
    })
    
</script>