<div class="container-fluid auctionsMessages my-2 d-flex justify-content-center">
    <div class="alert alert-success alert-dismissible fade show auctionsMessagesSon" role="alert">
        <strong> <%= bidHighAccepted %></strong> 
        <button type="button" class="btn-close invisible" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>


<script>
   
    const btnClose = document.querySelector('.btn-close');

    window.addEventListener('load', ()=>{

        setTimeout(()=>{
            btnClose.click();
        }, 3000);
    })
    
</script>
<!-- 
Explicacion de este codigo: Este archivo ejs es un HTML que uso como un alert puedo introducir un valor 
con las expresiones normales que me permite ejs pero ademas creo un bloque script para meter logica
dentro del script creao por medio del evento ventana (window) estado cargado (load) activo un serTimeOut
para de esta manera ejecute una tarea en los 3000 milisegundos sigueintes de haber cargado. y es hacer
clicken el icono btn-close que esta como invisible. Ya que el usuario no requiere dar click. -->