
<div class="container-fluid successBannerFront my-2 d-flex justify-content-center">
  <div class="alert alert-danger alert-dismissible fade show successBannerSon" role="alert">
      <strong class="me-2"><%= errorToken %></strong> Es muy fácil, ve a tu usuario y accede desde el menú a "Profile", allí podrás crear tu perfil.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>