<script>

  function mostrarToast(mensaje, posicion, color, titulo = '', conBotonCerrar = false) {
      // Configuración predeterminada
      toastr.options = {
          "closeButton": conBotonCerrar, // Agregar botón de cerrar si se solicita
          "debug": false,
          "newestOnTop": false,
          "progressBar": !conBotonCerrar, // Si tiene botón de cerrar, no mostrar barra de progreso
          "preventDuplicates": false,
          "onclick": null,
          "showDuration": "600",
          "hideDuration": "1000",
          "timeOut": conBotonCerrar ? false : "8000", // No se oculta automáticamente si tiene botón de cerrar
          "extendedTimeOut": "1000",
          "showEasing": "swing",
          "hideEasing": "linear",
          "showMethod": "fadeIn",
          "hideMethod": "fadeOut"
      };

      // Configurar la posición
      switch (posicion) {
          case 'center':
              toastr.options.positionClass = 'toast-top-center';
              break;
          case 'left':
              toastr.options.positionClass = 'toast-top-left';
              break;
          case 'right':
              toastr.options.positionClass = 'toast-top-right';
              break;
          default:
              toastr.options.positionClass = 'toast-top-right'; // Posición predeterminada
      }

      // Mostrar el mensaje según el color especificado
      switch (color) {
          case 'success':
              titulo ? toastr.success(mensaje, titulo) : toastr.success(mensaje);
              break;
          case 'info':
              titulo ? toastr.info(mensaje, titulo) : toastr.info(mensaje);
              break;
          case 'warning':
              titulo ? toastr.warning(mensaje, titulo) : toastr.warning(mensaje);
              break;
          case 'danger':
              titulo ? toastr.error(mensaje, titulo) : toastr.error(mensaje);
              break;
          case 'primary':
              titulo ? toastr.info(mensaje, titulo, { toastClass: 'toast-primary' }) : toastr.info(mensaje, '', { toastClass: 'toast-primary' });
              break;
          case 'dark':
              titulo ? toastr.info(mensaje, titulo, { toastClass: 'toast-dark' }) : toastr.info(mensaje, '', { toastClass: 'toast-dark' });
              break;
          default:
              console.warn('Color no válido. Usando el color por defecto (success).');
              titulo ? toastr.success(mensaje, titulo) : toastr.success(mensaje);
      }
  }



 mostrarToast('<%= passwError %>', 'right', 'danger', '', true ); // Agrega título aquí

</script> 

<!-- <div class="container-fluid successBannerFront my-2 d-flex justify-content-center">
  <div class="alert alert-danger alert-dismissible fade show successBannerSon" role="alert">
      <strong> <%= passwError %></strong> 
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>  -->