<div class="container-fluid successBannerFront my-2 d-flex justify-content-center">
    <div class="alert alert-danger alert-dismissible fade show successBannerSon" role="alert">
        <strong> <i class="bi bi-exclamation-triangle me-2"></i> <%= stopped %> Consulta nuestras<a href="policy" class="text-dark"> politicas de uso. </a> </strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>

<!-- const stopped = req.session.stopped; //"Su cuenta ha sido baneada por infringir nuestras normas."; -->