<div class="container-fluid auctionsMessages my-1 d-flex justify-content-center">
    <div class="alert alert-light alert-dismissible fade show auctionsMessagesSon  my-2" role="alert">
         <strong class="me-1"><i class="bi bi-check-circle-fill me-2"></i> <%= ticketTakeFine %>.</strong>  
        <button type="button" class="btn-close invisible" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div> 


<script>
   
    const btnClose = document.querySelector('.btn-close');

    window.addEventListener('load', ()=>{

        setTimeout(()=>{
            btnClose.click();
        }, 5500);
    })
    
</script>