<div class="container-fluid successBannerFront my-2 d-flex justify-content-center">
    <div class="alert alert-info alert-dismissible fade show successBannerSon" role="alert">
        <span> <strong><i class="bi bi-trash me-2"></i> <%= videoDelete %></strong>  ¡Listo para subir uno nuevo y sorprender a todos! </span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
</div>